nav{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100vw;
    padding: 15px;
    background: rgb(50, 49, 49);
    color: white;
}

nav a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

nav a:hover{
    text-decoration: underline;
}
